
{{#if searchPage}}
  <h1 class="description">Event Search</h1>
{{/if}}


<form action="/search" method="GET">
  <label for="search">Search:</label>
  <input type="text" name="search" id="search" placeholder="Search...">

  <label for="category" class="loud-beats">Category:</label>
  <select name="category" id="category">
    <option value="">All categories</option>
    <option value="music">Music</option>
    <option value="sports">Sports</option>
    <option value="arts">Arts</option>
  </select>

  <button type="submit">Search</button>
</form>

<!-- events.handlebars -->
<form action="/search" method="POST">
{{#if events}}
  <h2 class="loud-beats">Events:</h2>
  <ul>
    {{#each events}}
      <li>
        <h3>{{this.name.text}}</h3>
        <p>{{this.description.text}}</p>
        <p>Date: {{this.start.local}}</p>
        <p>Location: {{this.location.address}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="loud-beats">No events found.</p>
{{/if}}
</form>

<script src="../controllers/home-routes.js"></script>

